$icomoon-font-family: 'iconfont' !default;
$icomoon-font-path: '../../assets/fonts/iconfont/' !default;

$icon-check: '\e900';
$icon-clock: '\e901';
$icon-discount: '\e902';
$icon-flash: '\e903';
$icon-messages: '\e904';
